@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Rubik;
    background-color: rgb(24, 24, 27);
}

body {
    background-color: rgb(24, 24, 27);
    min-height: 100vh;
}